



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


  .outfit-extralight {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  
.montserrat-bolditalic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
  }


  .fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .solway-light {
      font-family: "Solway", serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .solway-regular {
      font-family: "Solway", serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .solway-medium {
      font-family: "Solway", serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .solway-bold {
      font-family: "Solway", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .solway-extrabold {
      font-family: "Solway", serif;
      font-weight: 800;
      font-style: normal;
    }
    
  
    
    .noto-serif {
      font-family: "Noto Serif", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
    }
    
    
    
  
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* ensures it stays above other content */
      transition: background-color 0.3s ease, opacity 0.3s ease;
    }
    
  
    .nav-links {
      font-family: "Solway", serif;
      font-style: bold;
    }
  
  
  
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    padding-top: 80px; /* adjust depending on your navbar height */
    color: #eee;
    line-height: 1.6;
  }
  
  
  
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }


  
  
  .hero-overlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3); /* subtle overlay for readability */
    text-align: center;
  }

  .caption-box {
    
    width: 100%;
    padding: 1%;
    color: #cbda7c;
   
  }
  
  .hero-overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-overlay p {
    font-size: 1.25rem;
    opacity: 0.9;
  }
  
  header {
    text-align: center;
  }

  h1 {

    font-family: "montserrat", 'sans-serif';

  }

  h2 {

    font-family: "outfit", 'sans-serif';

  }


  h3 {

    font-family: "Fjalla One", 'sans-serif';

  }
  
  .splash-header {
      margin: 0;
      font-size: 48px;
      font-family: "Noto-serif", serif;
      font-style: bold;
      color: #cfb789;
    }
  
    .splash-paragraph {
  
      margin: 0;
      font-size: 32px;
      font-family: "Solway", sans-serif;
      font-style: bold;
      color: #e4d7bd;
  
    }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2em;
    color: #ccc;
  }

  
  #portfolio {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  #portfolio h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px;
  }
  
  .item iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  
  .item h3 {
    margin-top: 10px;
    text-align: center;
  }
  




  .button-7 {
    background-color: #a01764;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, .4) 0 3px 0 0 inset;
    box-sizing: border-box;
    color: #eee099;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  
  .button-7:hover,
  .button-7:focus {
    background-color: #5c0741;
    color: #f3efdb;
    transform: scale(1.10);
  }
  
  .button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-7:active {
    background-color: #0064bd;
    box-shadow: none;
  }






  button {
  
    margin-top: 20px;
  
  }
  
  .custom-button {
    background-color: #a01764; /* deep magenta */
    border: 2px solid #f1d5e4; /* soft border */
    color: white;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .button-secondary-small {
    display: inline-block;
    padding: 10px 20px;
    background-color: #911d6c;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
  }

  .button-secondary-large {
  display: inline-block;
  padding: 14px 28px;
  background-color: #911d6c;
  border: 3px solid #f7ebb0; /* soft border */
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}

.button-secondary-xl {
  display: inline-block;
  padding: 18px 36px;
  background-color: #911d6c;
  border: 3px solid #f7ebb0; /* soft border */
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

.button-secondary-large:hover,
.button-secondary-xl:hover,
.button-secondary-small:hover {
  background-color: #750f58;
  transform: scale(1.01);
  color: #f7ebb0;
  transition: all 0.3s ease;
}

  .btn-burgundy {
  
    background-color: #a01764;
    border-color: #f7e275;
  
  }
  
  .btn-burgundy:hover {
    background-color: #8b1457;
    border-color: white;
    color: #fcecf5;
  }
  
  .btn-teal {
    background-color: #17989a;
    border-color: #f7e275;
    color:#ecdf9c;
  }
  
  .btn-teal:hover {
    background-color: #137f82;
    border-color: white;
    color: #e0ffff;
  }
  
  
  .custom-button:hover {
    transform: translateY(-2px);
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .case-study-grid img {

    width: 100%;

  }

  .portfolio-section h2 {

    color:#f7e275;

  }

  

  #about {
    padding: 60px 20px;
    background: #1a1a1a;
    text-align: center;
  }
  
  #about h2 {
    margin-bottom: 20px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #000;
    color: #777;
    font-size: 0.9em;
  }
  
  .social-link {
    display: inline-flex;
    text-align: left;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    flex-shrink: 0;
  }
  
  .social-link:hover {
    color: #137f82; /* Instagram pinkish tone */
  }

 /* Desktop: hide hamburger by default */
.hamburger-icon {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2000; /* ensures it’s clickable above other elements */
  }

  
 /* Show hamburger icon and hide nav links on mobile */
@media (max-width: 768px) {
    
    #hamburger {
      display: block;
      position: absolute;
      top: 25px;
      right: 30px;
    }
  
    .nav-links {
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background-color: #581235;
      width: 100%;
      padding: 20px;
      transform: translateY(-20%);
      opacity: 0;
      pointer-events: none;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: 999;
    }
  
    .nav-links.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .hero-overlay h1 {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
  }
  
  .hero-overlay p {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

h1 {
  font-size: clamp(2rem, 6vw, 4rem); /* Scales between 2rem and 4rem */
}

h2 {
  font-size: clamp(1.5rem, 4.5vw, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

p, li, a, span {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}